**/.DS_Store
**/[Tt]humb*.db
**/target
**/__pycache__
**/*.xlsx
**/*.csv
node_modules
dist
plotly-client/web/3d
plotly-app/resources
kiwi-desktop/src-tauri/gen/
kiwi-desktop/src-tauri/target/
kiwi-desktop/src-tauri/gen/
kiwi-desktop/node_modules/
